# Copia este archivo a .env y completa con tus datos de Azure SQL

PORT=3000
SESSION_SECRET=cambia-esto-por-un-secreto-largo-y-aleatorio

# Conexión a SQL Server (Railway)
DB_SERVER=tu-servidor.database.windows.net
DB_PORT=1433
DB_NAME=HotelCasaBlanca
DB_USER=tu_usuario_sql
DB_PASSWORD=tu-password_seguro
DB_ENCRYPT=true
DB_TRUST_SERVER_CERTIFICATE=false
